*{
    font-family: Ubuntu, serif;
    font-size: 20px;
}

.App {
    text-align: center;
    margin: 0 10px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.custom-navbar{
    background: linear-gradient(to bottom, #87cefa 0%, #1e90ff 100%) !important;
}

.custom-card {
    min-width: 50% !important;
    max-width: 50% !important;
    margin: 15px 0;
}

.walker-details {
    margin-top: 10%;
    margin-bottom: 5%;
}

.registrationBox {
    margin-top: 1%;
    padding: 2% 2%;
}

.formError {
    color: darkred;
    font-size: 18px;
}

.profileContainer {
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInside {
    max-width: 100%;
    min-width: 60%
}

.borderTrue {
    outline: #61dafb solid 4px;
    -moz-outline-radius: 10px;
    cursor:pointer;
}

.dogCards{
    max-width: 60%;
    margin: auto;
}

.btn-actions{
    margin: 0 5%;
}

.constraint-card{
    margin: auto;
    width: 100%;
    border-radius: 5px;
    border: 2px gray solid;
}

.presentation-bar {
    position: absolute;
    top: 40%;
    width: 100%;
    min-height: 100px;
    height: 20%;
    background: linear-gradient(to bottom, #87cefa 0%, #1e90ff 100%)
}

.presentation-text{
    margin: 0.5% 20%;
    width: 60%;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}

.dog1{
    position: absolute;
    max-height: 40%;
    max-width: 40%;
    right: 20px;
    fill: white;
    background:transparent
}

.dog2{
    position: absolute;
    max-height: 40%;
    max-width: 40%;
    left: 20px;
    bottom: 20px;
    fill: white;
}

.profile-logo-container{
    margin: 5% 40%;
    max-height: 50%;
    max-width: 50%;
    align-items: center;
}

.profile-logo{
    max-width: 100%;
}

.carousel-position{
    margin: 2% 25%;
    min-height: 50%;
    position: absolute;
    width: 50%;
}
